if errors && errors.length
	.alert.alert-danger
		button(type="button" class="close" data-dismiss="alert")
			span &times;
		ul
			for error in errors
				li=error.msg
if error && error.length
	.alert.alert-danger
		button(type="button" class="close" data-dismiss="alert")
			span &times;
		| #{error}
if success && success.length
	.alert.alert-success
		button(type="button" class="close" data-dismiss="alert")
			span &times;
		span=success