extend templates/normal

append title
	| Documentation - 

append content
	.col-sm-12
		h2 API Methods
		.well 
			h4 GET 
				strong /api/games
			ul
				li
					strong status 
					em (dev|qa|stage|prod, default:prod) 
					p Deployment environment
				li 
					strong token 
					em (String)
					p The access token required to view releases on Dev, QA or Stage
				li 
					strong debug 
					em (Boolean, default: false) 
					p Select the debug URL for releases
				li
					strong archive 
					em (Boolean, default: false) 
					p Select the archive ZIP for releases
		.well 
			h4 GET 
				strong /api/releases/[slugOrGuid]
			ul
				li
					strong status 
					em (dev|qa|stage|prod, default:prod) 
					p Deployment environment
				li
					strong version 
					em (String) 
					p The release version (e.g., "1.0.0")
				li
					strong commitId 
					em (String) 
					p The GIT commit hash
				li 
					strong token 
					em (String)
					p The access token required to view releases on Dev, QA or Stage
				li 
					strong debug 
					em (Boolean, default: false) 
					p Select the debug URL for releases
				li
					strong archive 
					em (Boolean, default: false) 
					p Select the archive ZIP for releases
		.well 
			h4 GET 
				strong /api/release/[slugOrGuid]
			ul
				li
					strong status 
					em (dev|qa|stage|prod) 
					p Deployment environment
				li
					strong version 
					em (String) 
					p The release version (e.g., "1.0.0")
				li
					strong commitId 
					em (String) 
					p The GIT commit hash
				li 
					strong token 
					em (String)
					p The access token required to view releases on Dev, QA or Stage
				li 
					strong debug 
					em (Boolean, default: false) 
					p Select the debug URL for releases
				li
					strong archive 
					em (Boolean, default: false) 
					p Select the archive ZIP for releases
		.well 
			h4 POST 
				strong /api/release/[slugOrGuid]
			ul
				li
					strong status 
					em (dev|qa|stage|prod) 
					p Deployment environment
				li
					strong version 
					em (String) 
					p The release version (e.g., "1.0.0")
				li
					strong commitId 
					em (String) 
					p The GIT commit hash
				li
					strong notes 
					em (String)
					p The release notes
				li
					strong warnUniqueCommit 
					em (Boolean, default=false) 
					p Warn on duplicate commitId
				li
					strong branch 
					em (String) 
					p The branch of the GIT commit
		.well 
			h4 POST 
				strong /api/releases/clean
		.well 
			h4 DELETE 
				strong /api/release/[id]