extend templates/normal

append title
	| Change Your Password - 

append content
	.col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-12.no-padding
		form.panel.panel-default.form-horizontal(method="post" action="/password")
			.panel-heading
				h3.panel-title Change Your Password
			.panel-body
				include partials/feedback
				.form-group
					label.control-label.col-sm-3(for="oldPassword", required) Current Pass
					.col-sm-9
						input.form-control(type="password" name="oldPassword" id="oldPassword")
				.form-group
					label.control-label.col-sm-3(for="newPassword") New Pass
					.col-sm-9
						input.form-control(type="password" name="newPassword" id="newPassword")
				.form-group
					label.control-label.col-sm-3(for="repeatPassword") Repeat Pass
					.col-sm-9
						input.form-control(type="password" name="repeatPassword" id="repeatPassword")
				.form-group.form-actions.text-center
					.col-sm-9.col-sm-offset-3
						input(type="hidden" name="id" value=user._id)
						button.btn.btn-lg.btn-primary(type="submit") 
							span.icon.glyphicon.glyphicon-pencil
							| Update