extend templates/normal

append title
	| Create Account -

append content
	.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
		.panel.panel-default
			.panel-heading
				h2.panel-title Create Account
			form.panel-body.form-horizontal(action='/register', method='post')
				include partials/feedback
				.form-group
					label.control-label.col-sm-3(for="name") Name
					.col-sm-9
						input.form-control(type='text', name='name', required, autofocus)
				.form-group(data-unique="/users/search")
					label.control-label.col-sm-3(for="username") Username
					.col-sm-9
						input.form-control(type='text', name='username', required, autofocus)
						include partials/form-control-feedback
				.form-group(data-unique="/users/search")
					label.control-label.col-sm-3(for="email") Email
					.col-sm-9
						input.form-control(type='text', name='email', required, autofocus)
						include partials/form-control-feedback
				.form-group
					label.control-label.col-sm-3(for="password") Password
					.col-sm-9
						input.form-control(type='password', name='password', required)
				.form-group
					label.control-label.col-sm-3(for="confirm") Confirm
					.col-sm-9
						input.form-control(type='password', name='confirm', required)
				.form-group.form-actions.text-center
					.col-sm-9.col-sm-offset-3
						button.btn.btn-lg.btn-primary(type='submit') Sign Up